{% extends 'base.html' %}
{% block title %}Password Updated{% endblock %}
{% block content %}
<style>
h1.second {
        font-weight: bolder;
		color:black;
		font-size:23px;
		display:inline
    }
    #details
	 {
        font-weight: bolder;
		color:#0088cc;
		font-size:22px;
		display:inline;

    }
    h1.second span {
        position: relative;
        display: inline-block;
        padding: 5px 10px;
        border-radius: 10px;
        border-bottom: 1px solid mediumseagreen;color:black
    }
    
    h1.second span:after {
        content: '';
        position: absolute;
        bottom: calc(-100% - 1px);
        margin-left: -10px;
        display: block;
        width: 100%;
        height: 100%;
        border-radius: 10px;
	}
</style>

<center><h1 class="second text-center"><span>HURRAY, PASSWORD CHANGED SUCCESSFULLY!   </span></h1></center>
<br/><br/>

<center><img src="https://i.stack.imgur.com/1HllQ.png" class="img-fluid" alt="..."></center>

<br/><br/><br/><br/><br/><br/>

{% endblock %}