{% extends 'base.html' %}
{% block title %}Contact Us{% endblock %}



{% block content %}
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

<style>

/* ------------- */
/* GLOBAL STYLES */
/* ------------- */

* {
  box-sizing: border-box;
}



.container {
  max-width: 1170px;
  margin-left: auto;
  margin-right: auto;
  padding: 1em;
}

ul {
  list-style: none;
  padding: 0;
}

.brand {
  text-align: center;
	font-weight: 300;
	text-transform: uppercase;
	letter-spacing: 0.1em;
}

.brand span {
  color: #ffffff;
}

.wrapper {
  box-shadow: 0 0 20px 0 rgba(57, 82, 163, 0.7);
}

.wrapper > * {
  padding: 1em;
}

/* ------------------- */
/* COMPANY INFORMATION */
/* ------------------- */

.company-info {
  background: #C3C9DD;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.company-info h3,
.company-info ul {
  text-align: center;
  margin: 0 0 1rem 0;
}

/* ------- */
/* CONTACT */
/* ------- */

.contact {
  background: #dcdfea;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

/* ---- */
/* FORM */
/* ---- */

.contact form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
}

.contact form label {
  display: block;
}

.contact form p {
  margin: 0;
}

.contact form .full {
  grid-column: 1 / 3;
}
.contact form .half {
  grid-column: 1 / 3;
}

.contact form button,
.contact form input,
.contact form textarea {
  width: 100%;
  padding: 0.5em;
  border: solid 1px #627EDC;
  border-radius: 4px;
}

.contact form textarea {
  resize: none;
}

.contact form button {
  background: #627EDC;
  border: 0;
  color: #e4e4e4;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: bold;
}
textarea{
font-size: 14px;
}
.contact form button:hover,
.contact form button:focus {
  background: #3952a3;
  color: #ffffff;
  outline: 0;
  transition: background-color 2s ease-out;
}

/* ------------- */
/* MEDIA QUERIES */
/* ------------- */

@media only screen and (min-width: 700px) {
  .wrapper {
    display: grid;
    grid-template-columns: 1fr 2fr;
  }

  .wrapper > * {
    padding: 2em;
  }

  .company-info {
    border-radius: 4px 0 0 4px;
  }

  .contact {
    border-radius: 0 4px 4px 0;
  }

  .company-info h3,
  .company-info ul,
  .brand {
    text-align: left;
  }
}
.btn, .btn:hover {
  color: #88a5b1;
}

.btn-primary, .btn-primary:hover, .btn-info, .btn-info:hover, .btn-success, .btn-success:hover, .btn-warning, .btn-warning:hover, .btn-danger, .btn-danger:hover, .btn-inverse, .btn-inverse:hover {
  color: #fff;
}

.btn {
  font: 18px Helvetica;
  padding: 12px 22px 10px;
  margin: 0;
  border: none;
  border-bottom: 3px #aacedd solid;
  text-decoration: none;
  background-image: -moz-linear-gradient(#ffffff, #f8f8f8);
  background-image: -webkit-linear-gradient(#ffffff, #f8f8f8);
  background-image: linear-gradient(#ffffff, #f8f8f8);
  position: relative;
  -moz-box-shadow: rgba(0, 0, 0, 0.2) 0 0 25px -5px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0 0 25px -5px;
  box-shadow: rgba(0, 0, 0, 0.2) 0 0 25px -5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}
.btn:active {
  position: relative;
  top: 3px;
  border: none;
}

.btn-primary {
  border-bottom: 3px #000609 solid;
  background-image: -moz-linear-gradient(#0079bb, #005888);
  background-image: -webkit-linear-gradient(#0079bb, #005888);
  background-image: linear-gradient(#0079bb, #005888);
}
.btn-primary:hover {
  background-image: -moz-linear-gradient(#009aee, #005888);
  background-image: -webkit-linear-gradient(#009aee, #005888);
  background-image: linear-gradient(#009aee, #005888);
}



.btn-large {
  font-size: 18px;
  padding: 12px 22px 10px;
}


 h1.second {
        font-weight: bolder;
		color:black
    }
    
    h1.second span {
        position: relative;
        display: inline-block;
        padding: 5px 10px;
        border-radius: 10px;
        border-bottom: 1px solid mediumseagreen;color:black
    }
    
    h1.second span:after {
        content: '';
        position: absolute;
        bottom: calc(-100% - 1px);
        margin-left: -10px;
        display: block;
        width: 100%;
        height: 100%;
        border-radius: 10px;
        border-top: 1px solid mediumseagreen;
    }

textarea { font-size: 16px; 
font-family: 'IBM Plex Sans Hebrew', sans-serif;
}
</style>

</head>

<div class="container">



	<div class="wrapper">

		<!-- COMPANY INFORMATION -->
		<div class="company-info">
			<h3 class="text-center" style="font-weight:bolder">Placement 360</h3>
<div class="text-center">
  <center><img src="https://www.tataaia.com/content/dam/tataaialifeinsurancecompanylimited/contact-us/ContactUs.png" class="card-img rounded-circle" id="commentimg"></center>

</div>
<br>
			  <center><a class="btn btn-primary" href="mailto:bmsceplacement360@gmail.com">Email Us</a>  </center>
		</div>
		<!-- End .company-info -->

		<!-- CONTACT FORM -->
		<div class="contact">
			<h3 style="font-weight:bolder" class="text-left">Contact Us</h3>

			 <form method="post" autocomplete="off" name="google-sheet" id="contact-form">
{% csrf_token %}
				<p>
					<label>Name</label>
					<input type="text" name="Name" id="name" placeholder="John Doe" required>
				</p>

				<p>
					<label>E-mail Id</label>
					<input type="email" name="Email" id="email" placeholder="johndoe@bmsce.ac.in"  required>
				</p>

				<p class="full">
					<label>Subject</label>
					<input type="text" name="Subject" id="subject"  placeholder="Type Here.." required>
				</p>

			

				<p class="full">
					<label>Message</label>
					<textarea name="Message" rows="5" id="message"></textarea>
				</p>

				<p class="half">
				  <input class="btn btn-primary"  type="submit" name="submit" class="btnSubmit btn" value="Send Message" style="margin-bottom:1rem"/>
                  <input class="btn btn-primary" type="reset" class="btnSubmit btn" value="Clear Form" />

				</p>

			</form>
			<!-- End #contact-form -->
		</div>
		<!-- End .contact -->

	</div>
	<!-- End .wrapper -->
</div>
 <script>
            const scriptURL = 'https://script.google.com/macros/s/AKfycbzf1jE_Z4a-EzqUsK1p0T-i2yxamTtUtvOHhXMbqmQahtUfPLdQtpoEWhRwFVujN3KuUw/exec'
            const form = document.forms['google-sheet']
          
            form.addEventListener('submit', e => {
              e.preventDefault()
              fetch(scriptURL, { method: 'POST', body: new FormData(form)})
                .then(response => swal({
  title: "Message Sent Successfully!",
  text: "Thanks for Contacting Us!",
  icon: "success",
  button: "Close",
}))
                .catch(error => console.error('Error!', error.message))
            })
          </script>
         <script>
         $('#contact-form')[0].reset();
          </script>
<!-- End .container -->
{% comment %} <div class="container register">
            <div class="row">
                <div class="col-md-12">
                        <div class="tab-pane fade show active text-align form-new" id="home" role="tabpanel" aria-labelledby="home-tab">
                            <h3 class="register-heading">Connect Google Spreadsheet to HTML</h3>
                            <div class="row register-form">
                                <div class="col-md-12">
                                    <form method="post" autocomplete="off" name="google-sheet">
                                        <div class="form-group">
                                            <input type="text" name="Name" class="form-control" placeholder="Your Name *" value="" required=""/>
                                        </div>
                                        <div class="form-group">
                                            <input type="email" name="Email" class="form-control" placeholder="Your Email *" value="" required=""/>
                                        </div>
                                         <div class="form-group">
                                            <input type="text" name="Subject" class="form-control" placeholder="Your Subject *" value="" required=""/>
                                        </div>
                                        <div class="form-group">
                                            <textarea name="Message" class="form-control" placeholder="Your Message Here *" value="" required="" ></textarea>
                                        </div>
                                        <div class="form-group">
                                            <input type="submit" name="submit" class="btnSubmit btn-block" value="Login" />
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                </div>
            </div>
        </div>
          
          <script>
            const scriptURL = 'https://script.google.com/macros/s/AKfycbzf1jE_Z4a-EzqUsK1p0T-i2yxamTtUtvOHhXMbqmQahtUfPLdQtpoEWhRwFVujN3KuUw/exec'
            const form = document.forms['google-sheet']
          
            form.addEventListener('submit', e => {
              e.preventDefault()
              fetch(scriptURL, { method: 'POST', body: new FormData(form)})
                .then(response => alert("Thanks for Contacting us..! We Will Contact You Soon..."))
                .catch(error => console.error('Error!', error.message))
            })
          </script>

        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</body> {% endcomment %}
{% endblock %}